<%- layout("/layouts/boilerplate.ejs")%>

<body>
<div class="container mt-5">

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error <%= err.statusCode || 500 %></h4>
    <p><%= err.message || 'Something went wrong.' %></p>
  </div>


</div>
</body>
